{extend name='extra@admin/content'}

{block name='content'}

<!--右侧编辑区 开始-->
<div class="panel panel-default ">
    <div class="panel-heading ibox-title"><h5>表单详情</h5></div>
    <div class="panel-body">
        <?php !empty( $form ) && include ("$form");?>
    </div>
</div>
<!--右侧编辑区 结束-->

<?php if(!empty($down) && isset($down)):?>
<div class="panel panel-default ">
<div class="panel-heading ibox-title"><h5>下载附件</h5></div>
<div class="panel-body">
    <span class="fa fa-usb transition"><a href="<?=$down?>"> 点击下载附件</a></span>
</div>
</div>
<?php endif;?>
{/block}
