{extend name='extra@admin/content'}


{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="mobile" value="{$Think.get.mobile|default=''}" placeholder="联系电话" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <th class='text-center'>订单编号</th>
        <th class='text-center'>会议主题</th>
        <th class='text-center'>表单详情</th>
        <th class='text-center'>创建机构</th>
        <th class='text-center'>订单状态</th>
        <th class='text-center'>支付人姓名</th>
        <th class='text-center'>联系电话</th>
        <th class='text-center'>支付方式</th>
        <th class='text-center'>支付金额</th>
        <th class='text-center'>会议状态</th>
        <th class='text-center'>创建时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center'>{$vo.increment_id}</td>
            <td class='text-center'>{$vo.m_topic}</td>
            <td class='text-center'>
<?php $apply_name = $vo['apply_name'];
if( empty($apply_name) ){
echo "<a href='/#//apply/assoc?m_id=".$vo['id']."&m_name=".$vo['m_topic']."'>点击关联报名表</a>";
}else{
echo "<button onclick=\"window.location.href='#/apply/index?increment_id=".$vo['increment_id']."&apply_id=".$vo['apply_id']."';return false; \"class='layui-btn layui-btn-small' data-title=".$apply_name."><i class='fa fa-calendar'></i>".$apply_name."</button>";
}
?></td>
            <td class='text-center'>{$vo.organ}</td>
            <td class='text-center'><a data-modal="/order/details.html?increment_id={$vo.increment_id}" href="javascript:void(0)">{$vo.status}</a></td>
            <td class='text-center'>{$vo.name}</td>
            <td class='text-center'>{$vo.mobile}</td>
            <td class='text-center'>{$vo.pay_way}</td>
            <td class='text-center'>{$vo.pay_money}</td>
            <td class='text-center'>
                {if $vo.m_status eq 0}
                <span>已关闭</span>
                {elseif $vo.m_status eq 1}
                <span style="color:#090">使用中</span>
                {/if}
            </td>
            <td class='text-center'>{$vo.create_time}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}