{include file='common/header' /}
<div class="container">
    <div class="top_bg">
        <div class="top"></div>
    </div>
    {include file='common/nav'/}
    <!-- 主体-->
    <div class="main">
        {include file='common/icenter'/}
        <div class="center" >
            <div class="aside left">
                <ul>
                    <li class="hytz curr">
                        <span>会议通知</span>
                        <s></s>
                    </li>
                    <li class="hyap">
                        <span>会议日程安排</span>
                        <s></s>
                    </li>
                    <li class="bdtz">
                        <span>报道通知</span>
                        <s></s>
                    </li>
                </ul>
            </div>
            <div class="cont">
                <div class="hytz1">
                    <div class="text">
                        <div class="text_title">
                            <span id="NoticeOrgan" class="tname" style="font-family:'宋体';"><?=$info['red_heade']?></span>
                            <hr style="border-top:1px solid #f00;margin-top:3px;">
                            <p class="name"><?=$info['m_topic']?></p>
                            <p class="num"><span><?=$info['m_code']?></span></p>
                            <p><span>报名时间：<?=date('Y-m-d H:i:s',$info['start_time'])?>-<?=date('Y-m-d H:i:s',$info['end_time']);?> 截止报名</span></p>
                        </div>
                        <div class="text_cont">
                            <?=$info['m_content']?>
                        </div>
                    </div>
                    <form action="#" class="last">
                        <input class="apply btn1" type="button" value="立即报名" onclick="location.href='/meeting/apply/mid/<?=$mid?>'"/>
                    </form>
                </div>
                <div class="hyap1 box display-none">
                    <div class="text">
                        <div class="text_title">
                            <p class="name"><?=$info['m_topic'] ?? ''?></p>
                        </div>
                        <div class="text_cont">
                            <table>
                            </table>
                            <p class="red"><?=$info['s_content']?? '(*以会议当天为准)'?></p>
                        </div>
                    </div>
                </div>
                <div class="bdtz1 box display-none">
                    <div class="text">
                        <div class="text_cont"><?=$info['n_content'] ?? '(*以会议当天为准)'?>
                        </div>
                        <?php /*
                        <form action="/meeting/downotice/mid/<?=$mid?>" class="last">
                            <input class="btn1" type="submit" value="下载通知"/>
                        </form>*/?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file='common/footer' /}
<script>
    $(function(){
        $(".aside>ul>li").click(function(){
            $(this).siblings().removeClass("curr");
            $(this).addClass("curr");

            var c=$(this).attr("class").split(" ")[0];
            var cs= $("."+c+"1");
            cs.siblings("i").addClass("display-none");
            cs.siblings("h3").addClass("display-none");
            cs.siblings("div").addClass("display-none");
            cs.removeClass("display-none");
        })

    })
</script>