<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>中国高等教育学会-注册成功</title>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/style-min.css"/>
    <script src="js/jquery-1.7.2.min.js"></script>
    <style>
        .main{height: 500px;}
        .main_top span{line-height: 40px;}
    </style>
</head>
<body>
<div class="container">
    <div class="top_bg">
        <div class="top"></div>
    </div>
    <div class="nav_bg">
        <div class="nav">
            <ul class="nav_item">
                <li class="left"><a href="http://hie.eol.com.cn">网站首页</a><span>|</span></li>
                <li class="left"><a href="conference.html">会议报名</a></li>
            </ul>
        </div>
    </div>
    <!-- 主体-->
    <div class="main">
        <div class="main_top">
            <span>欢迎注册</span>
        </div>
        <div class="center text_title">
            <div class="regok">
                <p>
                    <img src="/static/imgs/regok.jpg" alt=""/><span>恭喜您注册成功!<i>{$info.username}</i></span>
                </p>
                <form class="last-same">
                    <input class="btn1" type="button" value="去完善核对注册者信息" onclick="window.open('basicinfo.html')"/>&nbsp;&nbsp;&nbsp;
                    <input class="btn3" type="button" value="去报名" onclick="window.open('apply.html')"/>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="footer">
            <div class="line_24">
                <p><a href="http://hie.eol.com.cn/overview_12570/20150121/t20150121_993152.shtml">联系我们</a>｜相关链接：<a href="http://www.moe.edu.cn">中华人民共和国教育部</a></p>
                <p>学会地址：北京市海淀区文慧园北路10号中教仪楼4层</p>
                <p>联系电话：010-59893295　010-59893297　京ICP备10021028号</p>
                <p>技术支持：<a href="http://www.eol.cn/">中国教育在线</a></p>
            </div>
            <div class="img_wx"><p align="center"><img src="/static/imgs/wx.jpg" width="72" height="72" /></p>
                <p align="center">官方微信</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>